autopep8==1.5.2
boto==2.49.0
boto3==1.13.19
botocore==1.16.19
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
docutils==0.15.2
filelock==3.0.12
future==0.18.2
gensim==3.8.3
idna==2.9
jmespath==0.10.0
joblib==0.15.1
numpy==1.18.4
pandas==1.0.4
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2020.1
regex==2020.5.14
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.43
scipy==1.4.1
sentencepiece==0.1.91
six==1.15.0
smart-open==2.0.0
tokenizers==0.7.0
torch==1.5.0
tqdm==4.46.0
transformers==2.10.0
urllib3==1.25.9
xlrd==1.2.0
